:root {
    --font-family-sans: 'DM Sans';
    background-color: rgb(23 23 23 / 1);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
@tailwind base;
@tailwind components;
@tailwind utilities; 